h1 {
  color:black;
  font-family:fantasy;
}

title{
    /* Using the custom font we've included in the HTML tab: */
    font-family: Satisfy, cursive;
    font-weight:normal;
    font-size:24px;
    padding-top: 60px;
}
